*, *:before, *:after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Nav */
nav {
    background: bisque;
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        ul {
            display: flex;
            li {
                margin: 0 15px;
                padding: 15px;
            }
        }
    }
}


/* Home page */
.product-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .card {
        margin: 15px;
    }
}


/* Cart page */
.cart {
    .item {
        margin-bottom: 25px;
        border-bottom: solid 1px black;
        padding: 25px 0;
        &:last-child {
            border-bottom: double;
        }
    }
}